/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #000000a6;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  nav div {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10px;
  }
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  nav input {
    border: none;
  }

  nav input:focus {
    outline: none;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-image: url('skyscrapper.jpg');
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
  }
  
  /* h1 {
    margin-bottom: 20px;
  } */
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
    padding-bottom: 5px;
  }
  

.form input[type="text"],
.form input[type="email"],
.form textarea
{
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #ffffffab;
    transition: border-color 0.3s;
    border-radius: 5px;
}

.form input {
    outline: none;
  }

.form button {
    padding: 10px 100px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form button:hover {
    background-color: #4CAF50;
}
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .container {
    padding: 100px;
  }

  .container h1 {
    font-size: 80px;
    color: #fff;
  }

  .container p {
    font-size: 15px;
    color: #fff;
    padding: 20px 0;
    line-height: 20px;
  }
  .container button {
    padding: 20px 50px;
    font-size: 20px;
    margin-top: 20px;
  }

  /* About us */
   .about-container {
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .about-container h1 {
    font-size: 80px;
    color: #fff;
  }

  .about-container p {
    font-size: 15px;
    color: #fff;
    padding: 20px 0;
    line-height: 20px;
  }
 /* about team */
  .team-container {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .team-container h1 {
    font-size: 80px;
    color: #fff;
  }
.team-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team-members img {
    width: 40px;
    border-radius: 100px;
}
.team-members div {
    background-color: #000000a6;
    padding: 20px 30px;
    margin: 5px;
    border-radius: 10px;
}
.team-members button {
    padding: 10px 50px;
}
  .team-members h1 {
    font-size: 15px;
    color: #fff;
    padding-bottom: 5px;
  }

  .team-members p {
    font-size: 15px;
    color: #fff;
    padding-bottom: 5px;
  }

  /* Contact us */
  .contact-container {
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-container h1 {
    font-size: 50px;
    color: #fff;
    padding-bottom: 50px;
  }

  .contact-container p {
    font-size: 20px;
    color: #fff;
  }

  .form {
    background-color: #00000065;
    padding: 20px;
    width: 50%;
    color: #fff;
    border-radius: 10px;
  }

  /* Basic CSS for the report section */
 #result h2 {
    margin-top: 30px;
    color: #fff;
  }

  #result p {
    margin-top: 10px;
    color: #fff;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;

  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: left;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ffffff33;
  position: absolute;
  z-index: 10;
  right: 0; 
  top: 20;   
  margin-right: 20px; 
}
  #result img{
    width: 100%;
    background-color: #fff;
  }
  
